/*global*/

body, html {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #ffffff;
  background: #864aff;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;

}

a{
  text-decoration: none;
  color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
 font-family: 'Archivo', sans-serif;
 font-weight: 500;
 color: #00fdcb;
}


/*navigation bar*/

.navbar {
  font-size: 22px;
  background: #864aff;
  color: #00fdcb;
  font-family: 'Archivo', sans-serif;
  font-weight: 500;
}

#navbarResponsive  ul li a:hover{
  font-weight: bold;
  color: #000000;
  border-left: 1px black solid;
  border-right: 1px black solid;
  border-radius: 5%;
}


/*background image and headings*/

#bgimage{
  background: #864aff;
  width: 100%;
  height: 100%;
  position: relative;
  background: url('https://wallpapercave.com/wp/wp2018851.jpg') no-repeat center center/cover;
}

.headings{
  color: white;
  position: relative;
	z-index: 2;
	width: 65%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-top: 5rem;
}

#bgimage h1{
  font-size: 50px;
  font-weight: bold;
}
#bgimage p{
  font-size: 24px;
}

.button1{
  background: #6139ce;
  color: white;
  font-size: 17px;
}

.button1:hover{
  opacity:0.8;
  color: #ffffff;
}

/*second image with headings down at the bottom of the page*/

#bgimage2{
  background: #864aff;
  width: 100%;
  height: 100%;
  position: relative;
  background: url('https://wallpapercave.com/wp/wp2018853.png') no-repeat center center/cover;
}


.headings2{
  color: white;
  position: relative;
	z-index: 2;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-top: 5rem;
}

#bgimage2 h1{
  font-size: 50px;
  font-weight: bold;
}
#bgimage2 p{
  font-size: 24px;
}

/* end of the second image with headings down at the bottom of the page*/


/*text area*/

#main {
  width: 100%;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}


#main h1 {
  font-size: 60px;
}
#main p {
  font-size: 24px;
}

/*boxes area*/

#boxes {
  padding-top: 100px;
  padding-bottom: 100px;
  background: black;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: inset 220px 100px 250px #864aff, inset -220px -100px 250px #864aff;
}

#boxes h4{
  color:#00fdcb;
  font-size: 30px;
}
#boxes p{
  font-size: 20px;
}
.card-body{
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #d3d3d3, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
.card{
  margin: 10px;
}


/*form*/

#contact {
  text-align: center;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
}


* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 60%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  /*resize: vertical;*/
}

input[type=submit] {
  background-color: #4CAF50;
  font-weight: bolder;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}


.col-75 {
  width: 100%;
  margin-top: 6px;
  padding-left: 60px;
}


/*footer*/

footer{
  background: #673AB7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #512DA8, #673AB7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #512DA8, #673AB7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

footer img{
  display: block;
  width: 50px;
  height: auto;
  padding: 10px;
}

#quote{
  position: fixed;
  bottom: 0;
  right: 0;
}

.list-unstyled li p a{
  text-decoration: none;
}

.list-unstyled li p a:hover{
  font-weight: bold;
  color: #000000;
  border-left: 1px black solid;
  border-right: 1px black solid;
  border-radius: 5%;
}


/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
  .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
    padding: 0px;
  }
  input[type=text], select, textarea {
    width: 70%;
  }
  #bgimage{
    top: 0px;
    margin-bottom: 0px;
  }
  #quote{
    display: none;
  }
  .headings p{
    display: none;
  }
  .headings{
    margin-top: 4rem;
  }
  #bgimage h1{
    font-size: 30px;
  }
  #main h1 {
    font-size: 45px;
  }
  #main p {
    font-size: 20px;
  }
  #boxes h4{
    font-size: 22px;
  }
  #boxes p{
    font-size: 16px;
  }
  #navbarResponsive  ul li a:hover{
    font-weight: bold;
    color: #000000;
    border-left: none;
    border-right: none;
  }
  #bgimage2 h1{
    font-size: 27px;
  }
  #bgimage2 p{
    font-size: 18px;
  }
  .headings2{
    margin-top: 20px;
  }
}

@media screen and (max-width: 813px) {

  input[type=text], select, textarea {
    width: 80%;
  }
}

@media (min-width: 600px) and (max-width: 1000px) {
  #boxes h4{
    font-size: 22px;
  }
  #boxes p{
    font-size: 16px;
  }
  #navbarResponsive  ul li a:hover{
    font-weight: bold;
    color: #000000;
    border-left: none;
    border-right: none;
  }
}

/*loader*/
/* LOADER 1 */
/* Center the loader */
#loader {
  z-index: 100;
  width: 200vw;
  height:200vh;
  -webkit-animation: spin 8s linear infinite;
  animation: spin 8s linear infinite;
  background-color: black;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: skewY(0deg); }
  100% { -webkit-transform: skewY(360deg); }
}

@keyframes spin {
  0% { transform: skewY(0deg); }
  100% { transform: skewY(360deg); }
}

/*audio*/

#audio{
  visibility: hidden;
}
